.header-title {
   font-style: normal;
   display: inline-block;
   color: rgba(0, 0, 0, 0.601);
   margin: 2px;
   font-size: 60px;
   align-items: center;
   font-style: italic;
   font-variant: normal;
   vertical-align: middle
}

.img-logo {
   width: 80px;
   vertical-align: middle
}

@media only screen and (max-width: 800px) {
   .header-title {
      font-size: 50px;
   }

   .img-logo {
      width: 60px;
   }

}

@media only screen and (max-width: 600px) {
   .header-title {
      font-size: 40px;
   }

   .img-logo {
      width: 40px;
   }

}

@media only screen and (max-width: 400px) {
   .header-title {
      font-size: 20px;
   }

   .img-logo {
      width: 20px;
   }

}

@media only screen and (max-width: 200px) {
   .header-title {
      font-size: 10px;
   }

   .img-logo {
      width: 10px;
   }

}

.header-container {
   position: relative;
   margin: auto;
   margin-bottom: 10px;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}